<body>
<div class="ripple-background">
  <div class="circle xxlarge shade1"></div>
  <div class="circle xlarge shade2"></div>
  <div class="circle large shade3"></div>
  <div class="circle mediun shade4"></div>
  <div class="circle small shade5"></div>

  <div class="container-fluid content">
    <div class="container-lg p-5 content-container" style="min-height: 75%">
      <div class="row w-50 m-0 align-items-center justify-content-center login-container">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <h1>
            Log in
          </h1>
        </div>
        <div class="col-12">
          <div class="container-fluid px-0">
            <form [formGroup]="form" id="form" (ngSubmit)="login()">
              <div class="row">
                <div class="col-12">
                  <label class="form-label">
                    Email
                  </label>
                  <input formControlName="email" type="email" class="form-control"
                         style="text-transform:lowercase"/>
                  <span *ngIf="!form.controls['email'].valid && form.controls['email'].touched">
                    <span *ngIf="form.controls['email'].hasError('required')" class="error-msg">Must be between 6 and 254 characters.</span>
                    <span *ngIf="form.controls['email'].hasError('minlength')" class="error-msg">Must be between 6 and 254 characters.</span>
                    <span *ngIf="form.controls['email'].hasError('maxlength')" class="error-msg">Must be between 6 and 254 characters.</span>
                    <span *ngIf="form.controls['email'].hasError('pattern')" class="error-msg">This email is invalid.</span>
                    <span *ngIf="form.controls['email'].hasError('valid')"
                          class="formError">This email is invalid.</span>
                  </span>
                </div>
              </div>
              <div class="col-12 mt-2">
                <div class="row">
                  <label for="password" class="form-label">Password</label>
                  <div class="col-12">
                    <input autocomplete="on" formControlName="password" class="form-control" id="password" [type]="'password'"
                           name="password" aria-describedby="password input">
                  </div>
                  <div class="col-12 px-0 d-flex justify-content-start align-items-center">
                    <span *ngIf="!form.controls['password'].valid && form.controls['password'].touched">
                      <span *ngIf="form.controls['password'].hasError('required')" class="error-msg" style="padding-left: 15px;">Must be between 6 and 30 characters.</span>
                      <span *ngIf="form.controls['password'].hasError('maxlength')" class="error-msg" style="padding-left: 15px;">Must be between 6 and 30 characters.</span>
                      <span *ngIf="form.controls['password'].hasError('minlength')" class="error-msg" style="padding-left: 15px;">Must be between 6 and 30 characters.</span>
                    </span>
                  </div>
                  <div class="invalid-feedback">
                    Please enter a password.
                  </div>
                </div>
                <div class="col-9">
                  <a href="/register">Dont have an account yet? </a>
                </div>
              </div>
              <label>
                <input formControlName="username" type="text" class="form-control" hidden/>
              </label>
              <div class="row p-2 justify-content-center align-items-center">
                <div class="col-6 d-flex align-items-center justify-content-center">
                  <button type='submit' [disabled]='!this.form.valid' class="btn btn-outline-dark login-btn">
                    <span *ngIf="!disabled">
                        Submit
                      </span>
                    <span class="spinner-border spinner-border-sm" [hidden]="!disabled"></span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

