#parentDiv {
    position: relative;
}

#childDiv {
    position:absolute;
    top:0;
    left:0;
    width:100%;
}

.content{
  z-index:3;
 opacity:0.9

}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
