.modal-open{
  position: relative;
  z-index: 4;
}

.description, .steps, .ingredient-list {
  padding: 20px;
}

.title-author-container {
  padding: 30px;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-container {
  font-size: medium;
  background: whitesmoke;
  display: block;
  justify-content: center;
  margin: 0 auto;
  border-radius: 10px;
  width: 70%;
}

.delete-btn {
  background-color: #8a2bff;
  border-color: #8a2bff;
  color: white;
}

.color-btn {
  background-color: #a760ff;
  border-color: #a760ff;
  color: white;
}

.color-btn:hover, .color-btn:focus, .color-btn:active {
  color: #a760ff !important;
  background-color: transparent !important;
  border-color: #a760ff !important;
    box-shadow: 0 0 0 0.25rem transparent;

}

.delete-btn:hover, .delete-btn:focus, .delete-btn:active {
  color: #8a2bff !important;
  background-color: transparent !important;
  border-color: #8a2bff !important;
}

.delete-btn:focus, .delete-btn:active:focus {
  box-shadow: 0 0 0 0.25rem transparent;
}

#search-title {
  font-size: 55px;
}

.search-text {
  text-align: center;
  padding: 2%;
}

.search-box {
  display: flex;
  justify-content: center;
  text-align: center;
}

.input-group > .form-control:focus {
  box-shadow: inset 0 0 0 1px transparent;
}

.search-glass {
  color: #8a2bff;
  background: transparent;
  border: transparent;
  box-shadow: inset 0 0 0 1px transparent;
}

.search-glass:focus {
  box-shadow: inset 0 0 0 1px transparent;
}

.tag {
  color: #a760ff;
  background-color: #ededed;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  height: 35px;
  margin-right: 8px;
}
.add-btn{
  margin-bottom: 30px;
}

.tag:hover {
  cursor: default !important;
}

.tag-div {
  margin-bottom: 15px;
  padding: 5px 15px !important;
}

.links-table {
  text-align: -webkit-center;
}

.tag-label {
  text-align: left;
}

.error-msg {
  color: #dc3545;
  font-size: .875em;
}

.dropdown-toggle[aria-expanded="true"], .order-dropdown-btn:focus {
  color: #a760ff !important;
  background-color: transparent !important;
  border-color: #a760ff !important;
}

.dropdown-toggle:focus,
.dropdown-toggle:active:focus,
.order-dropdown-btn:focus,
.order-dropdown-btn:active:focus,
.btn-outline-dark.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem transparent;
}

.list-dropdown {
  float: none;
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

.dropdown-item:active {
  color: black;
  background-color: transparent;
}

.dropdown {
  margin-left: 20px;
  margin-right: 20px;
}

.dropdown-tag {
  overflow: scroll;
}

.tag-label {
  display: block;
}

.form-check-input:checked {
    background-color: #a760ff;
    border-color: #a760ff;
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem transparent;
}
