#parentDiv {
    position: relative;
}

#childDiv {
    position:absolute;
    top:0;
    left:0;
    width:100%;
}

.content{
  position:absolute; z-index:3;


}
.description, .steps, .ingredient-list {
  padding: 20px;
}

.title-author-container {
  padding: 30px;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-container {
  font-size: medium;
  background: whitesmoke;
  display: block;
  justify-content: center;
  margin: 0 auto;
  border-radius: 10px;
  width: 70%;
}


