<body>
<div class="ripple-background">
  <div class="circle xxlarge shade1"></div>
  <div class="circle xlarge shade2"></div>
  <div class="circle large shade3"></div>
  <div class="circle mediun shade4"></div>
  <div class="circle small shade5"></div>


  <div class="content-fluid content">
    <div class="container-lg p-5 content-container ">
      <div class="row w-100 m-0 recipe-container align-items-center justify-content-center">
        <div class="title-author-container" style="padding-bottom: 0">
          <div class="row w-100" id="toprow">
            <div class="col-10 col-lg-8 col-md-8 col-sm-6" style="word-wrap: break-word;">
              <h1>Welcome, {{username}}</h1>
            </div>
          </div>
        </div>
        <div class="row w-100 m-0">
          <div class="col-12">
            <h3>My links</h3>
            <div class="search-box">
              <div class="col-5 align-items-center">
                <div class="row align-items-center justify-content-between" style="padding: 10px">

                  <div class="p-1 bg-light rounded rounded-pill shadow-sm">
                    <div class="input-group">
                      <input #searchBar placeholder="search"
                             class="form-control rounded rounded-pill border-0 bg-light"
                             aria-describedby="button-addon1" (keypress)="onSearchEnter($event,searchBar.value)"/>
                      <div class="input-group-append">
                        <button type="button" class="btn btn-dark search-glass" (click)="onSearch(searchBar.value)"><i
                          class="fa fa-solid fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <!--              tags-->
              <div class="col-2 align-self-center">
                <div class="dropdown">
                  <button class="btn btn-outline-dark color-btn dropdown-toggle" type="button"
                          data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    Tags
                  </button>
                  <ul class="dropdown-menu">
                    <li class="list-dropdown">
                  <span *ngFor="let tag of userTags; let i = index">
                      <label class="tag-label">
                        <a class="dropdown-item">
                          <p>
                            <input type="checkbox"
                                   value=tag
                                   (change)="updateTagsSearch(tag)"
                                   class="form-check-input checkboxes"
                            /> {{tag}}
                          </p>
                        </a>
                      </label>
                    </span>
                    </li>
                  </ul>
                </div>


              </div>
            </div>

            <div class="row justify-content-center align-content-center align-items-center">
              <div class="col-2">
                <button type="button" class="btn btn-dark color-btn add-btn" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" style="margin-top: 10px;">
                  <i class="fa fa-plus"></i> Add link
                </button>
              </div>
            </div>

            <div class="col-12 links-table">
              <div class="row justify-content-center align-content-center align-items-center"
                   style="width: 80%; margin-left: 55px;">

                <div class="col-3" style="text-align: center">
                  <h5>Title</h5>
                </div>
                <div class="col-3" style="text-align: center">
                  <h5>Shortened link</h5>
                </div>
                <div class="col-3" style="text-align: center">
                  <h5>Link</h5>
                </div>
                <div class="col-3"></div>
              </div>

              <!--            FOR EVERY LINK-->
              <!--ngFor-->
              <!--                <span *ngFor="let link of links; index as i">-->
              <span *ngFor="let link of search_result; index as i">

                <div class="row justify-content-center align-content-center align-items-center" style="width: 80%">

                  <div class="col-3" style="text-align: center">
                    <p>{{link[2]}}</p>
                  </div>
                  <div class="col-3" style="text-align: center">
                    <a href="{{link[3]}}">ant.fly/{{link[3]}}</a>
                  </div>
                  <div class="col-3" style="text-align: center">
                    <p>{{link[4]}}</p>
                  </div>
                  <div class="col-1">

                    <button type="button" class="btn btn-dark delete-btn" (click)="deleteLink(link[3])"><i
                      class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                  </div>
                  <div class="col-1"></div>


                </div>

                <!--            FOR EVERY TAG - esto estaria adentro del ngFor de cada link-->

                <div class="row justify-content-center align-content-center align-items-center" style="width: 80%">
                  <div class="col-9 tag-label">
                    <span *ngFor="let tag of link[5]">
                      <button class="tag tag-div btn-outline" (click)="remove_tag(link[3],tag)">{{tag}} <i
                      class="fa fa-solid fa-close" aria-hidden="true"></i></button>
                    </span>
                  </div>
                  <div class="col-1">
                    <button type="button" class="btn btn-dark color-btn" data-bs-toggle="modal"
                            [attr.data-bs-target]="'#newTagModal' + link[0]"><i class="fa fa-tag"
                                                                                aria-hidden="true"></i>
                    </button>
                  </div>
                  <div class="col-1"></div>
                </div>

                <div class="row" style="width: 80%">
                  <hr>
                </div>

                <!--MODAL NEW TAG-->
                <!-- Modal -->
                <div class="modal fade" [id]="'newTagModal' + link[0]" data-bs-backdrop="static"
                     data-bs-keyboard="false"
                     tabindex="-1" aria-labelledby="staticBackdropLabelDeleteReport"
                     aria-hidden="true" style="position: absolute">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabelUnban">
                          Add tag
                        </h5>
                        <button type="button" class="btn btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form [formGroup]="newTagForm" id="newTagForm" (ngSubmit)="newLinkSubmit()">
                          <div class="mb-3">
                            <label class="form-label">Tag name</label>
                            <input formControlName="tag_name" type="text" class="form-control"
                                   placeholder="Name your tag"/>
                            <span
                              *ngIf="!newTagForm.controls['tag_name'].valid && newTagForm.controls['tag_name'].touched">
                            <span *ngIf="newLinkForm.controls['tag_name'].hasError('required')" class="error-msg">Must provide a tag name.</span>
                            <span *ngIf="newLinkForm.controls['tag_name'].hasError('maxlength')" class="error-msg">Tag name must be shorter than 12 characters.</span>
                          </span>
                            <input formControlName="short_link" [id]="'id-'+link[3]" type="text" class="form-control"
                                   hidden>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button (click)="newTagLink(link[3])" type="submit"
                                id="acceptUnbanBtn" name="adminBtn" data-bs-dismiss="modal"
                                class="btn btn-outline-dark unban-btn">
                          Submit
                        </button>
                      </div>

                    </div>
                  </div>


                </div>
              </span>
            </div>


          </div>
        </div>
      </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create new link</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="newLinkForm" id="form" (ngSubmit)="newLinkSubmit()">
              <div class="mb-3">
                <label class="form-label">Title</label>
                <input formControlName="title" type="text" class="form-control" placeholder="Name your link"/>
                <span *ngIf="!newLinkForm.controls['title'].valid && newLinkForm.controls['title'].touched">
              <span *ngIf="newLinkForm.controls['title'].hasError('required')" class="error-msg">Must be between 3 and 60 characters.</span>
              <span *ngIf="newLinkForm.controls['title'].hasError('maxlength')" class="error-msg">Must be between 3 and 60 characters.</span>
              <span *ngIf="newLinkForm.controls['title'].hasError('minlength')" class="error-msg">Must be between 3 and 60 characters.</span>
            </span>
              </div>
              <div class="mb-3">
                <label class="form-label">Link</label>
                <input formControlName="long_link" type="url" class="form-control"
                       placeholder="Insert the link to be shortened"/>
                <span *ngIf="!newLinkForm.controls['long_link'].valid && newLinkForm.controls['long_link'].touched">
              <span *ngIf="newLinkForm.controls['long_link'].hasError('required')" class="error-msg">Link can't be empty.</span>
              <span *ngIf="newLinkForm.controls['long_link'].hasError('pattern')" class="error-msg">This link is invalid.</span>
            </span>
              </div>
              <div class="mb-3">
                <label class="form-label">Short link</label>
                <input formControlName="short_link" type="text" class="form-control"
                       placeholder="ant.fly/your_short_link"/>
                <span *ngIf="!newLinkForm.controls['short_link'].valid && newLinkForm.controls['short_link'].touched">
              <span *ngIf="newLinkForm.controls['short_link'].hasError('required')" class="error-msg">Must be between 3 and 60 characters.</span>
              <span *ngIf="newLinkForm.controls['short_link'].hasError('maxlength')" class="error-msg">Must be between 3 and 60 characters.</span>
              <span *ngIf="newLinkForm.controls['short_link'].hasError('minlength')" class="error-msg">Must be between 3 and 60 characters.</span>
            </span>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" [disabled]='!this.newLinkForm.valid' class="btn btn-dark color-btn"
                    data-bs-dismiss="modal" (click)="newLinkSubmit()">
              <span *ngIf="!disabled">
                        Submit
                      </span>
              <span class="spinner-border spinner-border-sm" [hidden]="!disabled"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--    </div>-->

</body>
